<html>
<head><title>5X5</title></head>
    <body>
        
     
        
    <table border="1" cellpadding="5" cellspacing="5">
        {% for i in data %}
        <tr>
            <td><button>{{i.0}}</button></td>
            <td><button>{{i.1}}</button></td>
            <td><button>{{i.2}}</button></td>
            <td><button>{{i.3}}</button></td>
<!--            <td><button>{{i.4}}</button></td>-->
        </tr>
        
        {% endfor %}
    </table>
        <form action="add">
  <label for="word">Enter your word:</label>
  <input type="text" id="myword" name="myword"><br>
            <input type="submit"><hr>
            {% csrf_token %}
     </form>
        <button onclick="location.href='{% url 'script3' %}'">How to check result</button>
    </body>
</html>